html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 56px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px; /* Set the fixed height of the footer here */
  line-height: 56px; /* Vertically center the text there */
  background-color: #dee2e6;
}
/* category */
.fw-semibold { 
  font-weight: 600;
}
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}
.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.3rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus,
.btn-toggle-nav .active {
  background-color: #d2f4ea;
}
/* card */
.card-img-top {
  object-fit: contain;
  width: auto;
  height: 120px;
  margin-top: 20px;
}
.card,
.card-header,
.card-body,
.card-footer {
  border-radius: 0px !important;
  border: 0px;
}
.shadow-sm {
  box-shadow: 0 2px 16px rgb(0 0 0 / 6%)!important;
}
.card:hover {
  box-shadow: 0 2px 16px rgb(0 0 0 / 16%)!important;
}
/* versions */
.versions .active {
  text-decoration-line: underline!important;
  text-decoration-style: wavy!important;
  text-decoration-color: #dee2e6!important;
}